.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.comicheader {
    color: white;

}



.cards{
    margin-top: 40%;
    position: absolute;
    height: 400px;
    border-radius: 10px;
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    
    margin-left: 23vw;
}

.card1 {
    background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/2/40/639a7abec7bad/portrait_uncanny.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    border-radius: 10px;
    margin-right: 60px;
    margin-left: 30px;
}

.linkcom {
    color: white;
}

.desc1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    background-color: #202020;
    color: white;
    text-align: center;
    margin-top: -20px;
    width: 270px;
}

.card2 {
    background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/c/b0/639a7ab7b9ce3/portrait_uncanny.jpg);
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.card3{
    background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/4/90/639a7a8c94966/portrait_uncanny.jpg);
    width: 300px;
    margin-left: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.card1:hover {
    scale: 1.1;
}

.card2:hover {
    scale: 1.1;
}

.card3:hover {
    scale: 1.1;
}

.card1,.card2,.card3,.card4 {
    transition: 0.7s;
}

.back {
    
}

.card1mobile, .card2mobile, .card3mobile {
    position: absolute;
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 991px) {


    .card2mobile {
        background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/c/b0/639a7ab7b9ce3/portrait_uncanny.jpg);
background-repeat: no-repeat;
background-size: contain;
        width: 150px;
        height: 200px;
        margin-left: 400px;
    }
    .card3mobile {
        background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/4/90/639a7a8c94966/portrait_uncanny.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 200px;
        margin-left: 200px;
    }


    .card1 {
display: none;
    }
    

    .card2 {
display: none;
    }
    
    .card3{
display: none;
    }

    html {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    

    .card1mobile:hover {
        scale: 1.1;
    }
    
    .card2mobile:hover {
        scale: 1.1;
    }
    
    .card3mobile:hover {
        scale: 1.1;
    }
    
    .card1mobile,.card2mobile,.card3mobile {
        transition: 0.7s;
        border-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .headersss {
        height:20px;
    }

    .back {
        font-size: 15px;
        position: absolute;
        margin-top: -18px;
    }
    .cards {
        margin-top: 500px;
        justify-content: space-between;
        flex-direction: column;
        margin-right: 30vw;
    }
    .card1mobile, .card2mobile, .card3mobile {
        display: block;
    }

    .card1mobile {
        background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/2/40/639a7abec7bad/portrait_uncanny.jpg);
        width: 150px;
        height: 200px;
        background-repeat: no-repeat;
background-size: contain;
    }

    .desc1mobile {
        justify-content: center;
        font-size: 10px;
        height: 20px;
        width: 135px;
        background-color: #202020;
        height: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

