@import "react-slideshow-image/dist/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,900&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&family=Prompt:ital,wght@1,900&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,400&display=swap');

.headersss {
    font-family: 'Marvel', sans-serif;
    height: 80px;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 17%;
    background-color: #202020;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

html {
    background-color: #000000;
}

.link3 {
    font-size: 15px;
    margin-left: 45%;
    color: white;
    margin-top: -60px;
}

.marvel {
    padding-top: 20px;
    background-color: red;
    width: 160px;
    font-size: 40px;
    display: flex;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}
